<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Swift-KVC(属性).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>833485CF1E221F95007FAA0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>833485E31E221F95007FAA0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>833485EE1E221F95007FAA0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
