<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Swift计算型属性.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>836D077F1E2C935A00E1EB4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>836D07931E2C935A00E1EB4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>836D079E1E2C935A00E1EB4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
