<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Swift-异常的练习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>836B3EF41DED353700F0E67C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>836B3F081DED353700F0E67C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>836B3F131DED353700F0E67C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
